.navbarSupportedContent{
    background-color: #212529;
}
body {
    background-image: url(../images/hi.jpg);
    background-size: cover;
    opacity: 1.0;
    height:769px;
    z-index: -1;
}
.navbar.navbar-expand-lg.navbar-light.bg-light{
    background-color: transparent !important;
    opacity: 1 !important;
    z-index:1;
}
.btn_hire{
    /*opacity: 1 !important;*/
    background-color: #ff4f48;
    border-color: #dc3545;
    color:white;

}
.navbar-brand{
    color: white !important;
}
.nav-link{
    color:white !important;
}
.nav-link:hover{
    color: #ff2825 !important;
}
.btn_hire:hover{
    background-color: #ff0008;
    color: white !important;
}
/*.carousel-inner{*/
    /*height:600px;*/
    /*width: 800px;*/
/*}*/

/*.parent{*/
    /*text-align: center;*/
/*}*/
.carousel-caption{
    color:white;
}
p{
    margin-bottom: -2%;
}
img{
    width: 100%;
    height: 600px;
    object-fit: contain;
    border-color: white;
}
.carousel-inner{
    margin-left: 22%;
    margin-top: 2%;
    height: 600px;
    width: 800px;
}
.sr-only{
    color:white;
}
/*.nav-item.hire_me{*/
    /*float: right;*/
/*}*/
@media only screen and (max-width: 600px){
    body{
        background-size: cover;
        height: 600px;
        width: 100%;
    }
}